.tree {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

.tree ul {
    -webkit-padding-start: 43px;
}

.tree li {
    list-style-type: none;
    margin: 0;
    padding: 16px 5px 0 5px;
    position: relative
}

.tree li::before,
.tree li::after {
    content: '';
    left: -20px;
    position: absolute;
    right: auto
}

.tree li::before {
    border-left: 1px solid #999;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px
}

.tree li::after {
    border-top: 1px solid #999;
    height: 20px;
    top: 30px;
    width: 25px
}

.tree li span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    min-width: 200px;
    padding: 3px 8px;
    text-decoration: none
}

.tree li span:hover {
    border: 1px solid #40a9ff;
}

.tree li.li-parent>span {
    position: relative;
    cursor: text;
}

.tree>ul>li::before,
.tree>ul>li::after {
    border: 0
}

.tree li:last-child::before {
    height: 30px
}

.tree li.root-node>div {
    width: 36px;
    height: 36px;
    padding: 4px;
    border-radius: 50%;
    text-align: center;
    color: #666;
    border: 1px solid #666;
    border-radius: 50%; 
    cursor: pointer;
}
.tree li.root-node>div:hover {
  color: #40a9ff;
  border-color: #40a9ff;
}

.root-icon {
    font-size: 32px;
    line-height: 32px;
    font-weight: 100;
}

.root-icon:hover {
    color: #40a9ff
}

.file-img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: top;
    padding-right: 6px;
    border-right: 1px solid #ddd;
}

.icon-group {
    display: flex;
    align-items: center;
    padding-left: 6px;
    border-left: 1px solid #ddd;
}
.icon-group .operate-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 0 2px;
    color: #666;
}
.operate-icon:hover {
    color: #40a9ff
}
p.leaf-content {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0 6px;
  width: fit-content;
  min-width: 100px;
}
